@font-face { font-family: MrRobot; src: url('MR_ROBOT.ttf'); }

/*CUSTOM SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c8002db8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c8002d;
}


button {
  font-size: 1.25em;
  line-height: 1.8em;
  text-align: center;
  vertical-align: middle;
  background-color: #20262b;
  box-shadow: none;
  border: 1px solid #505050;
  outline: none;
  color: #c2c2c2;
  cursor: pointer;

}

button:active, button:focus{
  outline: none;
  border-color: #c8002d;
  color: #c8002d;
}

input {
  background-color: #20262b;
  box-shadow: none;
  border: 1px solid #505050;
  color: #c8002d;
  outline: none;
}

.input {
  font-size: 1em;
  line-height: 2.25em;
  text-align: center;
  vertical-align: middle;
}


#headline {
  font-family: MrRobot;
  font-size: 10vmin;
  text-align: center;
  color: #c8002d;
  line-height: 1.25em;
}

#tagline {
  font-size: 5vmin;
  font-weight: 600;
  text-align: center;
  color: #b5b5b5;
  line-height: 1.2em;
  padding-bottom: 0;
}

#airdroprow, #buyrow {
  width: 85%;
  min-width:259px;
  max-width:750px;
  margin: auto;
}

#airdropcell, #buycell{
  white-space: nowrap;
  width: 90%;
  margin: 0 auto .25em auto;
}


#airinput, #buyinput, #checkinput {
  width: 100%;
}

#airbtn, #buybtn, #checkbtn {
  width: 100%;
}

.notes {
  color: #757575;
  width: 85%;
  font-size: .8em;
  text-align: justify;
  margin: auto;
}

#addmeta {
  opacity: .8;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

#rewardpoolbox {
  font-size: 1em;
}
@media (max-width: 580px) {
  #rewardpoolbox {
    font-size: .7em;
  }
}

#checkcell,
#rewardpoolbox  {
  width: 100%;
  max-width: 720px;
  min-width: 240px;
  margin: auto;
}
#checkcell {
  white-space: nowrap;
}

table.dataTable tbody tr {
  background-color: #20262b;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #c8002d;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #c8002d;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #c8002d;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #c8002d;
}
